<% unless @product.downloadables.enabled.empty? %>
  <div id="product-attachments" data-hook="product_attachments">
    <h3><%= t(:downloadables) %></h3>
    <ul id="product-attachments-list">
    <% @product.downloadables.enabled.each do |downloadable| %>
      <li><%= attachment_link(downloadable) %></li>
    <% end %>
  </ul>
<% end %>

